@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
      format("opentype");
}
/* ir */
.ir {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

/* layout */
html,
body {
  width: 100%;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

/* common */
body {
  font-family: "GmarketSansMedium";
  color: #fff;
  background-color: #5b2386;
}
button {
  padding: 21px 49px;
  font-size: 24px;
  font-weight: 700;
  color: #5b2386;
  background-color: #fcee21;
  border-radius: 56px;
  border: none;
  cursor: pointer;
  font-family: "GmarketSansBold";
}

/* Animation */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* design */
/* header 영역 */
.contents {
  margin-top: 50px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-cover_container {
  position: absolute;
  width: 564px;
}

.logo-cover {
  width: 100%;
}

/* main 영역 */
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  margin-top: 66px;
  text-align: center;
}

.intro-subtitle {
  margin-bottom: 78px;
  color: #f5df4d;
  font-size: 36px;
  font-family: "OTEnjoystoriesBA";
}

.intro-description {
  width: 493px;
  margin: 0 auto 100px;
  font-size: 18px;
  line-height: 1.7;
  background-image: url(../img/quotes.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-family: "GmarketSansMedium";
}

.intro-description strong {
  font-size: 24px;
  font-family: "GmarketSansBold";
}

/* 인풋 영역 */
.input_container {
  text-align: center;
  margin-bottom: 115px;
  font-size: 24px;
  font-family: "GmarketSansMedium";
}

.input_container input {
  width: 200px;
  padding: 0.7em;
  font-size: 24px;
  text-align: center;
  border-radius: 7px;
  border: none;
}

.input_container input::placeholder {
  color: #babcbe;
}

.field {
  margin-bottom: 15px;
}

.time p,
.time_value_container {
  display: inline-block;
}

/* 버튼 부분 */
.button_container {
  position: relative;
}

.share_button {
  background-color: #fff;
}

.click-cover {
  position: absolute;
  top: 25px;
}

.start {
  text-align: center;
  margin-bottom: 80px;
}

/* 시계 로딩 부분 */
.result_loding {
  display: none;
  margin-bottom: 50px;
  text-align: center;
}

.result_loding img {
  animation: rotate 1s infinite linear;
  width: 100px;
}

/* 결과 부분 */
.result {
  display: none;
  font-family: "GmarketSansMedium";
}

.result_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  margin-bottom: 127px;
}

.result_container p {
  display: flex;
  align-items: center;
}

.field_result,
.time_result {
  padding: 10px 15px;
  font-size: 72px;
  font-family: "GmarketSansBold";
}

.buttons {
  display: none;
  justify-content: center;
}

.go_button {
  margin-right: 18px;
}

.copyright {
  text-align: center;
  line-height: 1.5;
  padding: 100px 0;
  font-family: "Noto Sans KR";
}

.copyright .weniv-logo {
  display: inline-block;
  margin-bottom: 20px;
}

/* 모달 영역 */
#modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.modal_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  background-color: #fff;
  color: #5b2386;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.modal-title {
  font-family: "OTEnjoystoriesBA";
  font-size: 96px;
}
.modal-subtitle {
  font-family: "OTEnjoystoriesBA";
  font-size: 36px;
}
.modal-cover {
  margin-bottom: 60px;
}
.close_button {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#modal .button_container {
  margin: 0;
}

/* 미디어쿼리 */
@media all and (max-width: 767px) {
  .wrapper {
    width: 100%;
    text-align: center;
    padding: 0 10px;
  }
  .clock-cover {
    width: 125px;
  }
  .logo-cover_container {
    width: 100%;
  }
  .logo-cover {
    width: 250px;
  }
  .intro {
    margin-top: 40px;
  }
  .intro-subtitle {
    font-size: 22px;
    margin-bottom: 25px;
  }
  .intro-description {
    width: 290px;
    margin: 0 auto 66px;
    font-size: 14px;
    line-height: 1.8;
  }
  .intro-description strong {
    font-size: inherit;
  }
  .input_container {
    font-size: 14px;
    line-height: 2;
    margin-bottom: 49px;
  }
  .input_container input {
    width: 156px;
    font-size: 14px;
    padding: 12px 35px;
  }
  .start {
    margin: 0;
  }
  button {
    padding: 10px 20px;
    font-size: 14px;
  }
  .start_button {
    width: 240px;
    padding: 17px 35px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 13px;
  }
  .click-cover {
    width: 40px;
  }
  .result {
    margin-top: 64px;
  }
  .result_container {
    font-size: 14px;
    margin-bottom: 55px;
  }
  .result_container p {
    display: block;
    margin-bottom: 20px;
  }
  .field_result,
  .time_result {
    font-size: 24px;
    padding: 8px;
  }
  .button_container {
    margin-bottom: 30px;
  }
  .buttons {
    display: none;
    justify-content: center;
  }
  .go_button {
    margin-right: 13px;
  }
  .copyright {
    margin-top: 57px;
    padding: 0;
  }
  .weniv-logo {
    width: 90px;
  }
  .copyright-description {
    font-size: 7px;
    margin: 0 auto;
  }
  /* 시계 로딩 */
  .result_loding {
    margin: 20px 0;
  }
  .result_loding img {
    width: 60px;
  }
  /* 모달 */
  #modal {
    padding: 0 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  .modal_container {
    width: 400px;
  }
  .modal-title {
    font-size: 50px;
  }
  .modal-subtitle {
    font-size: 36px;
  }
  .modal-cover {
    width: 100%;
    margin: 0;
  }
  .close_button {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 13px;
    padding: 17px 45px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    width: 100%;
    text-align: center;
    padding: 0 10px;
  }
  .clock-cover {
    width: 250px;
  }
  .logo-cover_container {
    width: 100%;
  }
  .logo-cover {
    width: 500px;
  }
  .intro-subtitle {
    font-size: 40px;
    margin-bottom: 25px;
  }
  .intro-description {
    width: 500px;
    margin: 0 auto 66px;
    font-size: 20px;
    line-height: 1.8;
  }
  .intro-description strong {
    font-size: inherit;
  }
  .input_container {
    font-size: 20px;
    line-height: 2;
    margin-bottom: 49px;
  }
  .input_container input {
    width: 200px;
    font-size: 20px;
    padding: 12px 35px;
  }
  .start {
    margin: 0;
  }
  button {
    padding: 10px 20px;
    font-size: 24px;
  }
  .start_button {
    width: 400px;
    padding: 20px 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 13px;
  }
  .click-cover {
    width: 60px;
    top: 50px;
  }
  .result {
    margin-top: 64px;
  }
  .result_container {
    font-size: 20px;
    margin-bottom: 55px;
  }
  .result_container p {
    display: block;
    margin-bottom: 20px;
  }
  .field_result,
  .time_result {
    font-size: 60px;
    padding: 8px;
  }
  .button_container {
    margin-bottom: 30px;
  }
  .buttons {
    display: none;
    justify-content: center;
  }
  .go_button {
    margin-right: 13px;
    padding: 20px 35px;
  }
  .copyright {
    margin-top: 57px;
    padding: 30px;
  }
  .copyright-description {
    font-size: 15px;
    margin: 0 auto;
  }
  /* 시계 로딩 */
  .result_loding {
    margin: 20px 0;
  }
  .result_loding img {
    width: 80px;
  }
  /* 모달 */
  #modal {
    padding: 0 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  .modal_container {
    width: 500px;
  }
  .modal-title {
    font-size: 80px;
  }
  .modal-subtitle {
    font-size: 40px;
  }
  .modal-cover {
    width: 100%;
    margin: 0;
  }
  .close_button {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 13px;
    padding: 17px 45px;
  }
}
