@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
      format("opentype");
}
/* ir */
.ir {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

/* layout */
html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* common */
body {
  font-family: "GmarketSansMedium";
  color: #fff;
  background-color: #5b2386;
}
button {
  padding: 21px 49px;
  font-size: 24px;
  font-weight: 700;
  color: #5b2386;
  background-color: #fcee21;
  border-radius: 56px;
  border: none;
  cursor: pointer;
  font-family: "GmarketSansBold";
}

/* Animation */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* design */
/* header 영역 */
.contents {
  display: flex;
  margin-top: 5%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-cover_container {
  position: absolute;
  width: 564px;
}

.logo-cover {
  width: 100%;
}

/* main 영역 */
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 66px;
}

.intro .intro-subtitle {
  width: 486px;
  margin-bottom: 78px;
  color: #f5df4d;
  font-size: 36px;
  font-family: "OTEnjoystoriesBA";
  text-align: center;
}

.intro-description {
  width: 493px;
  margin-bottom: 100px;
  font-size: 18px;
  line-height: 1.7;
  text-align: center;
  background-image: url(../img/quotes.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-family: "GmarketSansMedium";
}

.intro-description strong {
  font-size: 24px;
  font-family: "GmarketSansBold";
}

/* 인풋 영역 */
.input_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  margin-bottom: 115px;
  font-size: 24px;
  font-family: "GmarketSansMedium";
}

.input_container input {
  padding: 0.7em;
  margin: 0.3em;
  font-size: 24px;
  text-align: center;
  border-radius: 7px;
  border: none;
}

.input_container input::placeholder {
  color: #babcbe;
}

.time_value_container {
  display: flex;
  align-items: center;
}

.field,
.time {
  display: flex;
  align-items: center;
}

/* 버튼 부분 */
.button_container {
  position: relative;
}

.share_button {
  background-color: #fff;
}

.click-cover {
  position: absolute;
  top: 25px;
}

.start {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

/* 시계 로딩 부분 */
.result_loding {
  display: none;
  text-align: center;
}

.result_loding img {
  animation: rotate 1s infinite linear;
  width: 100px;
}

/* 결과 부분 */
.result {
  display: flex;
  /* display: none; */
  flex-direction: column;
  align-items: center;
  font-family: "GmarketSansMedium";
}

.result_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  margin-bottom: 127px;
}

.result_container p {
  display: flex;
  align-items: center;
}

.field_result,
.time_result {
  padding: 10px 15px;
  font-size: 72px;
  font-family: "GmarketSansBold";
}

.buttons {
  display: flex;
  justify-content: center;
}

.go_button {
  margin-right: 18px;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  gap: 20px;
  margin-top: 30px;
  padding: 100px 0;
  font-family: "Noto Sans KR";
}

/* 모달 영역 */
#modal {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}
.modal_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  background-color: #fff;
  color: #5b2386;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.modal-title {
  font-family: "OTEnjoystoriesBA";
  font-size: 96px;
}
.modal-subtitle {
  font-family: "OTEnjoystoriesBA";
  font-size: 36px;
}
.modal-cover {
  margin-bottom: 60px;
}
.close_button {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#modal .button_container {
  margin: 0;
}

/* 미디어쿼리 */
@media all and (min-width: 320px) and (max-width: 359px) {
  .clock-cover {
    width: 125px;
  }
  .logo-cover_container {
    display: flex;
    justify-content: center;
  }
  .logo-cover {
    width: 267px;
  }
  .intro {
    margin-top: 20px;
  }
  .intro .intro-subtitle {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .intro .intro-description {
    margin-bottom: 20px;
    width: 270px;
    font-size: 16px;
    line-height: 1.2;
    padding: 0 20px;
    word-break: keep-all;
  }
  .intro .intro-description strong {
    font-size: 18px;
  }
  .input_container {
    font-size: 16px;
    margin-bottom: 20px;
    gap: 10px;
  }
  .input_container input {
    width: 90px;
    font-size: 16px;
  }
  .time {
    display: flex;
    flex-direction: column;
  }
  .start {
    margin-bottom: 30px;
  }
  .start_button {
    width: 200px;
    border-radius: 20px;
  }
  .click-cover {
    width: 43px;
  }
  button {
    padding: 15px;
    font-size: 14px;
  }
  .result_loding img {
    width: 40px;
  }
  .result_container {
    margin-bottom: 20px;
  }
  .result_container p {
    font-size: 16px;
    line-height: 1.5;
  }
  .result_container p:first-child {
    display: flex;
    flex-direction: column;
  }
  .result_container strong {
    font-size: 30px;
    padding: 10px;
  }
  .copyright {
    padding: 0;
  }
  .copyright-description {
    font-size: 14px;
    padding: 0 30px;
    word-break: keep-all;
  }
  #modal {
    padding: 0 10px;
  }
  .modal_container {
    width: 100%;
    padding: 30px 15px;
  }
  #modal .modal-title {
    font-size: 50px;
  }
  .modal-subtitle {
    font-size: 25px;
  }
  .modal-cover {
    width: 100%;
    margin-bottom: 30px;
  }
  .close_button {
    font-size: 15px;
  }
}

@media all and (min-width: 360px) and (max-width: 450px) {
  .clock-cover {
    width: 125px;
  }
  .logo-cover_container {
    display: flex;
    justify-content: center;
  }
  .intro {
    margin-top: 30px;
  }
  .logo-cover {
    width: 267px;
  }
  .intro .intro-subtitle {
    font-size: 25px;
    margin-bottom: 50px;
  }
  .intro .intro-description {
    margin-bottom: 50px;
    width: 300px;
    font-size: 16px;
    line-height: 1.4;
    padding: 0 40px;
    word-break: keep-all;
  }
  .intro .intro-description strong {
    font-size: 20px;
  }
  .input_container {
    font-size: 18px;
    margin-bottom: 50px;
  }
  .input_container input {
    width: 120px;
    font-size: 16px;
  }
  .time {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .start {
    margin-bottom: 50px;
  }
  .start_button {
    width: 270px;
    border-radius: 20px;
  }
  .click-cover {
    width: 50px;
    top: 35px;
  }
  button {
    padding: 15px;
    font-size: 20px;
  }
  .result_loding img {
    width: 40px;
  }
  .result_container {
    margin-bottom: 50px;
  }
  .result_container p {
    font-size: 18px;
  }
  .result_container strong {
    font-size: 30px;
    padding: 10px;
  }
  .copyright {
    padding: 0;
    margin-top: 50px;
  }
  .copyright-description {
    font-size: 14px;
    padding: 0 30px;
    word-break: keep-all;
  }
  #modal {
    padding: 0 10px;
  }
  .modal_container {
    width: 100%;
    padding: 30px 15px;
  }
  #modal .modal-title {
    font-size: 50px;
  }
  .modal-subtitle {
    font-size: 25px;
  }
  .modal-cover {
    width: 100%;
    margin-bottom: 30px;
  }
  .close_button {
    font-size: 15px;
  }
}

@media all and (min-width: 451px) and (max-width: 770px) {
  .clock-cover {
    width: 180px;
  }
  .logo-cover_container {
    display: flex;
    justify-content: center;
  }
  .intro {
    margin-top: 30px;
  }
  .logo-cover {
    width: 430px;
  }
  .intro .intro-subtitle {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .intro .intro-description {
    margin-bottom: 80px;
    font-size: 20px;
    line-height: 1.4;
    word-break: keep-all;
  }
  .intro .intro-description strong {
    font-size: 25px;
  }
  .input_container {
    font-size: 20px;
    margin-bottom: 60px;
  }
  .input_container input {
    font-size: 20px;
  }
  .time {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .start {
    margin-bottom: 50px;
  }
  .start_button {
    width: 340px;
    padding: 15px 50px;
    border-radius: 20px;
  }
  .click-cover {
    width: 50px;
    top: 35px;
  }
  button {
    padding: 15px 40px;
    font-size: 18px;
  }
  .go_button {
    margin-right: 5px;
  }
  .result_loding img {
    width: 40px;
  }
  .result_container {
    margin-bottom: 50px;
  }
  .result_container p {
    font-size: 18px;
  }
  .result_container strong {
    font-size: 45px;
    padding: 10px;
  }
  .copyright {
    padding: 0;
    margin-top: 60px;
  }
  .copyright-description {
    font-size: 12px;
    padding: 0 30px;
    word-break: keep-all;
  }
  #modal {
    padding: 0 30px;
  }
  .modal_container {
    width: 100%;
    padding: 30px;
  }
  #modal .modal-title {
    font-size: 60px;
  }
  .modal-subtitle {
    font-size: 30px;
  }
  .modal-cover {
    width: 100%;
    margin-bottom: 30px;
  }
  .close_button {
    font-size: 18px;
  }
}
